{% macro kitchen_header(pageTitle, username) %}
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for("splash") }}">
                <h2 class="title has-text-light">CuteKitchen</h2>
            </a>

            <a class="navbar-item">
                <span class="icon">
                    <i class="fas fa-user"></i>
                </span>
                <strong>{{ username }}</strong>
            </a>
            <a class="navbar-item" href="{{ url_for("logout") }}">
                <span class="icon">
                    <i class="fas fa-sign-out-alt"></i>
                </span>
                <span>Log Out</span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">

            </div>
        </div>
    </nav>
{% endmacro %}
