<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <h2 class="title"><i class="fas fa-id-badge"></i> Sign Up</h2>
                <p class="content">Already have an account? <a href="#">Sign in</a> instead.</p> <!-- TODO: Link -->

                <!-- TODO: Need better wording here: -->
                <p class="content">Re-use weekly shopping lists and add items from your kitchen that are running low</p>
            </div>
        </div>
    </div>
</section>