/***********************************************************************************************************************
 * Here we define any variables we use across CuteKitchen. They're defined here in order to be accessible to all the
 * SCSS files we build with the project. They are read in cutekitchen.scss and used there to override the default framework
 * styles.
 * ********************************************************************************************************************/

@import "cuteworks-variables";

$cutekitchen-block-font: 'Bungee', sans-serif;
$cutekitchen-sans-serif-font: 'Yantramanav', sans-serif;
$cutekitchen-serif-font: 'Roboto Slab', serif;

$cutekitchen-black: #120b0b;
$cutekitchen-dark: #2d1b1b;
$cutekitchen-light: #e2dbdb;
$cutekitchen-white: #f0eded;

$cutekitchen-primary: #60993e;
$cutekitchen-secondary: #77ff94;

$cutekitchen-primary-accent: #a1e44d;
$cutekitchen-secondary-accent: #7afdd6;
