/* *********************************************************************************************************************
 * Pulls in the main Bulma framework styles from the dependencies folder, after applying any of our overrides. Any
 * additional framework fixes are then applied.
 * ********************************************************************************************************************/

@import "cutekitchen-variables";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// region Map framework variables to cutekitchen variables
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$family-sans-serif: $cutekitchen-sans-serif-font;

$primary: $cutekitchen-primary;
$info: $cutekitchen-secondary;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// endregion
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// region Bulma variable overrides.
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$footer-background-color: $cutekitchen-black;
$card-background-color: $cutekitchen-white;

$navbar-background-color: $cutekitchen-black;
$navbar-item-hover-background-color: $cutekitchen-dark;

$black: $cutekitchen-black;

$link: $cutekitchen-primary-accent;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// endregion
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import "../../deps/bulma/bulma";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// region Framework fixes
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// endregion
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
